



<nav class="navbar navbar-expand-lg  navbar-dark bg-dark sticky-top" >
  <%= link_to image_tag("A2.png", class: 'navbar-brand navbar-logo img-circle', style: 'margin-left:10%;'), root_path %>
  <button class="navbar-toggler" id="toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-md-center" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" id='home'>
        <%= link_to 'HOMEPAGE', root_path, class: 'nav-link', style: 'color:#000' %>
      </li>
      <li class="nav-item" id='join'>
        <%= link_to 'JOIN US', join_path, class: 'nav-link', style: 'color:#000' %>
      </li>
      <li class="nav-item" id='volunteers'>
        <%= link_to 'OUR VOLUNTEERS', volunteers_path, class: 'nav-link', style: 'color:#000' %>
      </li>

      <li class="nav-item" id='projects'>
        <%= link_to 'OUR PROJECTS', projects_path, class: 'nav-link', style: 'color:#000' %>
      </li>

      <li class="nav-item" id="help-us">
        <div class="dropdown" id="dropdownClass">
          <div class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            HELP US
          </div>
        </div>
      </li>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="dropdown-menu">

      </div>


    </ul>
  </div>
</nav>



<div id="overlay" onclick="off()"></div>








<script>
    function on() {
        document.getElementById("overlay").style.display = "block";
    }

    function off() {
        document.getElementById("overlay").style.display = "none";
    }
</script>

<script>
    var show = false;
    var dropdown = false;
    var nav = document.getElementById('navbarSupportedContent');
    document.getElementById('toggler').addEventListener('click', function () {
        if (!show) {
            nav.classList.add('show');
            show = true;
            on();
        } else {
            nav.classList.remove('show');
            show = false;
            if(dropdown){
                dropdown = !dropdown
            }
            off();
        }
    });

    document.addEventListener('click',function () {

    })

    document.getElementById('overlay').addEventListener('click', function () {
        if (document.getElementById("overlay").style.display = "none") {
            nav.classList.remove('show');
            show = false;
        }
    });


    var urls = ['join', 'projects', 'volunteers', 'help-us'];
    var url = 'home';
    urls.forEach(function (item, index) {
        if (window.location.href.indexOf(item) > -1) {
            url = urls[index];
        }
    });
    document.getElementById(url).classList.add('active');
    document.getElementById(url).children[0].style.color = "#fff"

    function updown()
    {
        if (!dropdown) {
            document.getElementById("dropdownMenuLink").setAttribute("aria-expanded", true);
            document.getElementById('dropdownClass').classList.add('show');
            document.getElementById('dropdown-menu').classList.add('show');
            dropdown = !dropdown;


        } else {
            document.getElementById("dropdownMenuLink").setAttribute("aria-expanded", false);
            document.getElementById('dropdownClass').classList.remove('show');
            document.getElementById('dropdown-menu').classList.remove('show');
            dropdown = !dropdown;

        }
    }

    document.getElementById('dropdownMenuLink').addEventListener('click',function () {
        updown();
    })


    if(window.location.href.indexOf('help-us') > -1)
    {
        const drop = '<a class="dropdown-item" href="#donate">Donate</a>\n' +
            '<a class="dropdown-item" href="#volunteer">Volunteer</a>\n' +
            '<a class="dropdown-item" href="#partnership">Partnership</a>'+
            '<a class="dropdown-item" href="#intern">Internship</a>'+
            '<a class="dropdown-item" href="#vv">Virtual Volunteer</a>';
        document.getElementById('dropdown-menu').insertAdjacentHTML('afterbegin',drop);
    }
    else{
        const drop = '<a class="dropdown-item" href="help-us/#donate">Donate</a>\n' +
            '<a class="dropdown-item" href="help-us/#volunteer">Volunteer</a>\n' +
            '<a class="dropdown-item" href="help-us/#partnership">Partnership</a>'+
            '<a class="dropdown-item" href="help-us/#intern">Internship</a>'+
            '<a class="dropdown-item" href="help-us/#vv">Virtual Volunteer</a>';
        document.getElementById('dropdown-menu').insertAdjacentHTML('afterbegin',drop);
    }




</script>
